## 출처 : [DataManim](https://www.datamanim.com/dataset/03_dataq/typeone.html)

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 60399 entries, 0 to 60398
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           60399 non-null  object
 1   channelTitle    60399 non-null  object
 2   categoryId      60399 non-null  int64
 3   view_count      60399 non-null  int64
 4   likes           60399 non-null  int64
 5   dislikes        60399 non-null  int64
 6   comment_count   60399 non-null  int64
 7   channelId       60399 non-null  object
 8   trending_date2  60399 non-null  object
dtypes: int64(5), object(4)
memory usage: 4.6+ MB

### Q1. 인기동영상 제작횟수가 많은 채널 상위 10개명을 출력하라 (날짜기준, 중복포함)

In [3]:
anwer = list(df.loc[df.channelId.isin(df.channelId.value_counts().head().index)].channelTitle.unique())
print(anwer)

['파뿌리', '짤툰', '런닝맨 - 스브스 공식 채널', '엠뚜루마뚜루 : MBC 공식 종합 채널', 'SPOTV']

이 코드는 데이터프레임 `df`에서 상위 10개의 `channelId`에 해당하는 `channelTitle` 목록을 추출하여 고유한 채널 제목을 출력하는 역할을 합니다. 각 부분을 설명해 보겠습니다.

```python
answer = list(df.loc[df.channelId.isin(df.channelId.value_counts().head(10).index)].channelTitle.unique())
```

1. **`df.channelId.value_counts().head(10).index`**: `channelId` 열에서 각 `channelId`의 개수를 세고, 가장 많이 등장하는 상위 10개의 `channelId`를 추출합니다.

2. **`df.channelId.isin(...)`**: 상위 10개의 `channelId` 목록에 속하는 `channelId`만 필터링합니다.

3. **`df.loc[ ... ].channelTitle.unique()`**: 필터링된 데이터의 `channelTitle` 열에서 고유한(중복 없는) 채널 이름들을 추출합니다.

4. **`list(...)`**: 고유한 채널 이름들을 리스트 형식으로 변환하여 `answer`에 저장합니다.

마지막으로 `print(answer)`를 통해 상위 10개의 `channelId`에 해당하는 고유한 `channelTitle` 목록을 출력합니다.

### Q2. 논란으로 인기동영상이 된 케이스를 확인하고 싶다. dislikes수가 like 수보다 높은 동영상을 제작한 채널을 모두 출력하라

In [4]:
answer2 = list(df.loc[df.likes < df.dislikes].channelTitle.unique())
print(answer2)

['핫도그TV', 'ASMR 애정TV', '하얀트리HayanTree', '양팡 YangPang', '철구형 (CHULTUBE)', '왜냐맨하우스', '(MUTUBE)와꾸대장봉준', '오메킴TV', '육지담', 'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', '사나이 김기훈', '나혼자산다 STUDIO', 'Gen.G esports']

Q3. 채널명을 바꾼 케이스가 있는지 확인하고 싶다. channelId의 경우 고유값이므로 이를 통해 채널명을 한번이라도 바꾼 채널의 갯수를 구하여라

In [5]:
change = df[['channelTitle', 'channelId']].drop_duplicates().channelId.value_counts()
target = change[change > 1]
print(len(target))

71

이 코드는 `channelTitle`과 `channelId` 쌍이 고유한 데이터 중에서, 동일한 `channelId`가 여러 번 나타나는 경우를 찾아 그 개수를 출력합니다. 각 부분을 살펴보겠습니다.

```python
change = df[['channelTitle', 'channelId']].drop_duplicates().channelId.value_counts()
```

1. **`df[['channelTitle', 'channelId']].drop_duplicates()`**: `df` 데이터프레임에서 `channelTitle`과 `channelId` 두 열만 선택한 후, 중복 행을 제거합니다. 즉, 고유한 `channelTitle`-`channelId` 쌍만 남깁니다.

2. **`.channelId.value_counts()`**: 고유한 쌍에서 `channelId`의 등장 횟수를 세어 `change`에 저장합니다. 여기서는 각 `channelId`가 고유한 쌍으로 몇 번 등장하는지 알려줍니다.

```python
target = change[change > 1]
```

3. **`change[change > 1]`**: `channelId`가 1회 이상 반복된 경우(즉, `channelId`가 여러 개의 `channelTitle`에 대응되는 경우)만 필터링하여 `target`에 저장합니다.

```python
print(len(target))
```

4. **`len(target)`**: 조건에 맞는 `channelId`의 개수를 출력합니다.

이 코드는 `channelId`가 2회 이상 등장하는 고유 쌍의 개수를 구하는 것으로, 하나의 `channelId`가 여러 `channelTitle`과 연관된 경우가 얼마나 되는지 확인하는 작업입니다.

### Q4. 일요일에 인기있었던 영상들중 가장많은 영상 종류(categoryId)는 무엇인가?

In [6]:
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
answer = df.loc[df['trending_date2'].dt.day_name() == 'Sunday'].categoryId.value_counts().index[0]
print(answer)

24

이 코드는 `trending_date2` 열이 일요일인 경우의 `categoryId` 중에서 가장 많이 등장한 값을 찾고, 이를 출력하는 역할을 합니다. 각 부분을 설명하겠습니다.

```python
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
```

1. **`pd.to_datetime(df['trending_date2'])`**: `trending_date2` 열의 값을 날짜 형식으로 변환합니다. 이를 통해 날짜 관련 작업을 수행할 수 있습니다.

```python
answer = df.loc[df['trending_date2'].dt.day_name() == 'Sunday'].categoryId.value_counts().index[0]
```

2. **`df['trending_date2'].dt.day_name() == 'Sunday'`**: `trending_date2` 열에서 날짜의 요일 이름이 `Sunday`(일요일)인 경우만 필터링합니다.

3. **`.categoryId.value_counts()`**: 일요일에 해당하는 행들의 `categoryId` 열에서 각 카테고리 ID의 등장 횟수를 계산합니다.

4. **`.index[0]`**: 가장 많이 등장한 `categoryId`의 ID를 가져옵니다.

```python
print(answer)
```

5. **`print(answer)`**: 최종 결과를 출력합니다.

결과적으로, 이 코드는 일요일에 트렌드에 오른 동영상의 `categoryId` 중 가장 많이 등장한 ID를 출력합니다.

`df['trending_date2'].dt.day_name() == 'Sunday'` 이 부분은 `df` 데이터프레임의 `trending_date2` 열에서 각 날짜가 "Sunday"(일요일)인지 확인하여, 일요일인 경우에 `True`, 아닌 경우에 `False`를 반환하는 **불리언 시리즈**를 생성하는 부분입니다. 이를 통해 특정 요일에 해당하는 데이터만을 필터링할 수 있습니다.

### 세부 설명

1. **`df['trending_date2']`**: `df`라는 데이터프레임에서 `trending_date2`라는 열을 선택합니다. 이 열은 날짜 형식이어야 하며, 앞에서 `pd.to_datetime(df['trending_date2'])`로 변환한 상태입니다.

2. **`.dt.day_name()`**:
   - **`.dt` 속성**: `datetime` 형식의 열에 대해 날짜와 시간에 관련된 속성이나 메서드를 사용할 수 있게 해줍니다. 이를 통해 `trending_date2` 열의 날짜에서 요일 이름, 연도, 월 등을 쉽게 추출할 수 있습니다.
   - **`.day_name()` 메서드**: 날짜에 해당하는 요일 이름을 문자열로 반환합니다. 예를 들어, `2023-04-23`은 "Sunday"를 반환하게 됩니다.

3. **`== 'Sunday'`**: 요일 이름이 "Sunday"인지 확인합니다. `==` 연산자는 각 날짜가 일요일이면 `True`, 아니면 `False`로 평가합니다. 그 결과, `True`와 `False` 값들로 구성된 **불리언 시리즈**가 생성됩니다.

### 예시

만약 `trending_date2` 열에 다음과 같은 데이터가 있다고 가정해 보겠습니다.

| trending_date2 |
|----------------|
| 2023-04-23     |
| 2023-04-24     |
| 2023-04-30     |

위 데이터를 `.dt.day_name() == 'Sunday'`로 평가하면 다음과 같은 불리언 시리즈가 반환됩니다.

| trending_date2 | 결과   |
|----------------|--------|
| 2023-04-23     | True   |
| 2023-04-24     | False  |
| 2023-04-30     | True   |

이 불리언 시리즈는 이후에 `.loc[...]`와 같은 조건 필터링으로 사용될 수 있어, 데이터프레임에서 `trending_date2`가 일요일인 행들만 선택할 수 있습니다.

### `df.loc`의 개념

`df.loc`는 **판다스(Pandas) 데이터프레임**에서 **라벨 기반 인덱싱**을 수행하는 메서드입니다. 행(row)과 열(column)을 선택하거나 필터링할 때 사용되며, 명시적으로 행과 열의 라벨 또는 조건을 기준으로 데이터를 선택합니다.

---

### `df.loc`의 기본 문법

```python
df.loc[row_selection, column_selection]
```

- **`row_selection`**: 선택하려는 행을 지정합니다. 행 라벨, 조건문, 슬라이싱 등을 사용할 수 있습니다.
- **`column_selection`**: 선택하려는 열을 지정합니다. 열 이름, 리스트, 슬라이싱 등을 사용할 수 있습니다.

---

### `df.loc`의 주요 활용 방법

1. #### **특정 행 선택**
   특정 행을 라벨(인덱스)로 선택할 때 사용합니다.

   ```python
   df.loc['row_label']
   ```
   예:
   ```python
   df.loc[0]  # 0번째 행 선택
   ```

2. #### **특정 행과 열 선택**
   행과 열을 동시에 선택하려면 쉼표(`,`)를 사용합니다.

   ```python
   df.loc[row_label, column_label]
   ```
   예:
   ```python
   df.loc[0, 'column_name']  # 0번째 행의 'column_name' 값 선택
   ```

3. #### **조건을 기반으로 데이터 선택**
   불리언 조건을 사용해 행을 필터링할 수 있습니다.

   ```python
   df.loc[df['column_name'] > 10]
   ```
   예:
   ```python
   # 'column_name' 값이 10보다 큰 모든 행과 열 선택
   filtered_df = df.loc[df['column_name'] > 10]
   ```

4. #### **여러 행과 열 선택**
   - 행이나 열에 여러 라벨을 지정하려면 리스트를 사용합니다.
   - 라벨 슬라이싱도 가능합니다.

   ```python
   df.loc[[row_label1, row_label2], [column_label1, column_label2]]
   df.loc[start_row:end_row, start_col:end_col]
   ```
   예:
   ```python
   # 0번째와 2번째 행, 'A'와 'B' 열 선택
   df.loc[[0, 2], ['A', 'B']]

   # 행과 열을 슬라이싱으로 선택
   df.loc[0:5, 'A':'C']  # 0~5번째 행, 'A'부터 'C'까지의 열
   ```

5. #### **열 이름만 지정하여 특정 열 선택**
   행 전체를 선택하려면 `:`를 사용합니다.

   ```python
   df.loc[:, 'column_name']
   ```
   예:
   ```python
   # 모든 행에서 'column_name' 열 선택
   df.loc[:, 'column_name']
   ```

6. #### **새로운 데이터 할당**
   `df.loc`를 사용해 특정 행이나 열에 새로운 값을 할당할 수도 있습니다.

   ```python
   df.loc[row_selection, column_selection] = new_value
   ```
   예:
   ```python
   df.loc[df['A'] > 10, 'B'] = 0  # 'A' 열 값이 10보다 큰 행에서 'B' 열에 0 할당
   ```

---

### `df.loc`와 관련된 주의 사항

1. **라벨 기반**  
   - `loc`는 **라벨**을 기준으로 동작합니다. 만약 데이터프레임에 기본 정수 인덱스가 있다면, 이는 라벨로 간주됩니다.
   - 숫자 기반 인덱싱이 필요하다면 `.iloc`를 사용해야 합니다.

2. **슬라이싱**  
   - `loc`에서 슬라이싱은 **포함형**입니다. 즉, 끝점이 포함됩니다.
     ```python
     df.loc[0:5]  # 0~5번째 행 포함
     ```

3. **라벨과 조건 혼합 사용 가능**  
   - `loc`는 라벨과 조건을 조합해 복잡한 선택도 가능합니다.
     ```python
     df.loc[(df['A'] > 10) & (df['B'] == 'value'), ['C', 'D']]
     ```

---

### 예제 데이터프레임과 활용 예시

```python
import pandas as pd

data = {
    'A': [10, 20, 30, 40],
    'B': ['apple', 'banana', 'cherry', 'date'],
    'C': [1.5, 2.5, 3.5, 4.5]
}
df = pd.DataFrame(data, index=['row1', 'row2', 'row3', 'row4'])
```

#### 1. 특정 행과 열 선택
```python
# 'row1'의 'A' 값 선택
print(df.loc['row1', 'A'])  # 출력: 10
```

#### 2. 조건 기반 필터링
```python
# 'A' 값이 25보다 큰 모든 행 선택
filtered_df = df.loc[df['A'] > 25]
print(filtered_df)
```

#### 3. 새로운 값 할당
```python
# 'A' 값이 20인 행의 'C' 열 값을 10으로 변경
df.loc[df['A'] == 20, 'C'] = 10
```

---

### `df.loc` 활용 시의 장점
- 라벨 기반으로 직관적인 데이터 선택 가능.
- 불리언 필터와 조합하여 유연한 조건 선택 가능.
- 슬라이싱 및 특정 열, 행 조합 선택이 간단.

### Q5. 각 요일별 인기 영상들의 categoryId는 각각 몇개 씩인지 하나의 데이터 프레임으로 표현하라

In [7]:
group = df.groupby([df['trending_date2'].dt.day_name(),'categoryId'],as_index=False).size()
answer= group.pivot(index='categoryId',columns='trending_date2')
display(answer)

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

이 코드는 Pandas를 사용하여 데이터를 특정 요일과 카테고리(`categoryId`)를 기준으로 그룹화한 후, 그룹 크기(행 수)를 계산하고 이를 행(`categoryId`)과 열(`trending_date2`) 형태의 피벗 테이블로 재구조화한 뒤 출력하는 작업을 수행합니다. 각 단계별로 자세히 설명하겠습니다.

---

### 코드 분석

#### 1. **`group = df.groupby([df['trending_date2'].dt.day_name(), 'categoryId'], as_index=False).size()`**
- **`df.groupby(...)`**:
  - `groupby`는 데이터를 특정 기준(여기서는 요일과 카테고리 ID)으로 그룹화하는 함수입니다.
  - 그룹화를 통해 각 조합(요일 + 카테고리)의 데이터를 처리할 수 있습니다.

- **`df['trending_date2'].dt.day_name()`**:
  - `trending_date2` 열의 날짜 데이터를 요일 이름으로 변환합니다.
  - 이로 인해 데이터가 "Monday", "Tuesday", ..., "Sunday" 등 요일별로 그룹화될 수 있습니다.

- **`'categoryId'`**:
  - `categoryId`는 두 번째 그룹화 기준입니다. 요일 이름과 `categoryId`의 조합을 기반으로 그룹을 생성합니다.

- **`as_index=False`**:
  - 기본적으로 `groupby`는 그룹화 기준을 데이터프레임의 인덱스로 설정합니다. `as_index=False`를 지정하면 그룹화 기준이 새로운 열로 유지됩니다.

- **`.size()`**:
  - 각 그룹의 크기(즉, 해당 조합에 속한 행의 개수)를 계산합니다.
  - 결과적으로 각 (요일, 카테고리) 조합에 대한 행 개수가 담긴 데이터프레임이 생성됩니다.

##### 예제 데이터프레임 결과
`group` 데이터프레임은 다음과 같은 형태일 수 있습니다.

| trending_date2 | categoryId | size |
|----------------|------------|------|
| Monday         | 1          | 15   |
| Monday         | 2          | 10   |
| Tuesday        | 1          | 20   |
| Sunday         | 3          | 5    |

---

#### 2. **`answer = group.pivot(index='categoryId', columns='trending_date2')`**
- **`pivot`**:
  - 피벗 테이블을 생성하여 데이터를 재구조화합니다.
  - 지정된 `index`를 행으로, `columns`를 열로 설정하여 데이터를 배치합니다.

- **`index='categoryId'`**:
  - 카테고리 ID를 행 인덱스로 설정합니다. 각 행은 하나의 카테고리 ID를 나타냅니다.

- **`columns='trending_date2'`**:
  - `trending_date2`(요일 이름)을 열로 설정합니다. 각 열은 요일을 나타냅니다.

- **값**:
  - `group` 데이터프레임의 나머지 열인 `size`가 각 (행, 열) 조합에 대한 값으로 채워집니다.

##### 결과 피벗 테이블
피벗 결과는 다음과 같은 형태가 됩니다.

| categoryId | Monday | Tuesday | Sunday |
|------------|--------|---------|--------|
| 1          | 15     | 20      | NaN    |
| 2          | 10     | NaN     | NaN    |
| 3          | NaN    | NaN     | 5      |

- 값이 없는 경우(NaN)는 해당 카테고리 ID와 요일 조합에 데이터가 없음을 의미합니다.

---

#### 3. **`display(answer)`**
- **`display`**:
  - Jupyter Notebook 환경에서 데이터프레임을 시각적으로 출력하는 함수입니다.
  - 결과 피벗 테이블(`answer`)을 화면에 깔끔하게 출력합니다.

---

### 요약

이 코드는 다음 작업을 수행합니다:
1. `trending_date2`(요일 이름)와 `categoryId`의 조합을 기준으로 그룹화합니다.
2. 각 조합에 해당하는 데이터의 크기를 계산합니다.
3. 계산된 결과를 피벗 테이블 형식으로 재구조화합니다.
   - 행: `categoryId`
   - 열: `trending_date2`(요일 이름)
   - 값: 각 조합에 속한 데이터의 개수(`size`).

결과적으로, 요일별 카테고리 데이터를 분석할 수 있는 테이블을 생성합니다.

### Q6. 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다. viewcount대비 댓글수가 가장 높은  영상을 확인하라 (view_count값이 0인 경우는 제외한다)

In [12]:
target2 = df.loc[df.view_count!=0]
# print(target2)
t = target2.copy()
t['ratio'] = (target2['comment_count']/target2['view_count']).dropna()
# t['ratio']
result = t.sort_values(by='ratio', ascending=False).iloc[0].title
print(result)

60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)

이 코드는 `df` 데이터프레임에서 `view_count`가 0이 아닌 데이터만 추출하고, 각 데이터에 대해 댓글 수와 조회 수의 비율(`comment_count` / `view_count`)을 계산한 뒤, 이 비율이 가장 높은 동영상의 제목(`title`)을 출력하는 역할을 합니다. 각 단계별로 자세히 설명하겠습니다.

---

### 코드 분석

#### 1. **`target2 = df.loc[df.view_count != 0]`**
- **`df.view_count != 0`**:
  - `view_count`가 0이 아닌 행을 필터링합니다.
  - 조회 수(`view_count`)가 0인 데이터는 비율 계산 시 나눗셈 오류(분모가 0)가 발생할 수 있으므로 이를 제외합니다.
- **`df.loc[...]`**:
  - 조건을 만족하는 행들만 선택하여 새로운 데이터프레임 `target2`에 저장합니다.

##### 예제
`target2`는 다음과 같은 형태가 될 수 있습니다.

| title      | view_count | comment_count |
|------------|------------|---------------|
| Video A    | 1000       | 50            |
| Video B    | 500        | 20            |

---

#### 2. **`t = target2.copy()`**
- 원본 데이터프레임 `target2`를 복사하여 `t`에 저장합니다.
- 복사를 통해 원본 데이터를 보호하면서 새로운 열(`ratio`)을 추가하거나 수정할 수 있습니다.

---

#### 3. **`t['ratio'] = (target2['comment_count'] / target2['view_count']).dropna()`**
- **`target2['comment_count'] / target2['view_count']`**:
  - `comment_count`를 `view_count`로 나눈 값을 계산합니다.
  - 이 값은 동영상의 댓글-조회수 비율을 나타냅니다.
- **`.dropna()`**:
  - 계산 중 NaN(결측값)이 발생한 경우 이를 제거합니다. NaN은 `view_count`나 `comment_count` 중 하나에 결측값이 있으면 발생할 수 있습니다.
- **`t['ratio']`**:
  - 계산된 비율을 `t` 데이터프레임의 새 열 `ratio`에 저장합니다.

##### 예제
`t`는 다음과 같이 업데이트됩니다.

| title      | view_count | comment_count | ratio  |
|------------|------------|---------------|--------|
| Video A    | 1000       | 50            | 0.05   |
| Video B    | 500        | 20            | 0.04   |

---

#### 4. **`result = t.sort_values(by='ratio', ascending=False).iloc[0].title`**
- **`t.sort_values(by='ratio', ascending=False)`**:
  - `ratio` 열을 기준으로 내림차순으로 정렬합니다.
  - 댓글-조회수 비율이 높은 순서대로 데이터를 정렬합니다.
- **`.iloc[0]`**:
  - 정렬된 데이터프레임의 첫 번째 행(가장 높은 비율을 가진 행)을 선택합니다.
- **`.title`**:
  - 선택된 행의 `title` 값을 가져옵니다. 이는 비율이 가장 높은 동영상의 제목입니다.

##### 예제
정렬 결과:
| title      | view_count | comment_count | ratio  |
|------------|------------|---------------|--------|
| Video A    | 1000       | 50            | 0.05   |
| Video B    | 500        | 20            | 0.04   |

비율이 가장 높은 동영상의 제목 `Video A`가 선택됩니다.

---

#### 5. **`print(result)`**
- 결과적으로 비율이 가장 높은 동영상의 제목을 출력합니다.

---

### 요약
이 코드는 다음을 수행합니다:
1. `view_count`가 0이 아닌 동영상 데이터를 필터링합니다.
2. 각 동영상에 대해 댓글-조회수 비율(`comment_count` / `view_count`)을 계산합니다.
3. 비율이 가장 높은 동영상의 제목을 찾아 출력합니다.

이 코드는 특정 동영상이 얼마나 활발한 커뮤니케이션(댓글)을 이끌어내는지를 기준으로 분석할 때 유용합니다.